html {
  background: radial-gradient(circle farthest-corner at top,##FFFFFF 5em,#DAF0EE 60em);
  height: 120vh;
}

body {
  margin-top: 1em;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #3B413C;
}

h1 {
  font-style: italic;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  display: block;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5em;
  background-color: #9DB5B2;
  padding: 0.5em;
  width: 60vw;
}

h3 {
  text-align: center;
  font-size: 1.4em;
  padding: 0.5em;
}

h4 {
  display: block;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  background-color: #94D1BE;
  padding: 0.3em;
}

table {
  font-size: 1.3em;
}

td {
  padding: 0.2em;
  border-radius: 0.5em;
}

.logo {
  display: block;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
}

.game-summary-table {
  display: block;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.game-summary-key {
  text-align: left;
  width: 20%;
}

.game-summary-value {
  text-align: center;
  width: 20%;
}

.performance-metrics-header {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  display: block;
}

.performance-metrics-table {
  display: block;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.performance-metric-key {
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: left;
  width: 60%;
}

.performance-metric-value {
  text-align: center;
  width: 20%;
}

.performance-metric-rating {
  text-align: center;
  width: 20%;
}

.value-element {
  font-weight: bold;
}

.metric-rating-poor {
  background-color: #ED8E89;
}

.metric-rating-mediocre {
  background-color: #F2B56A;
}

.metric-rating-almost {
  background-color: #AFD179;
}

.metric-rating-good {
  background-color: #5A9977;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #483C46;
    color: #ECF2FF;
    text-align: center;
    padding: 0.7em;
    font-size: 0.8em;
    border-radius: 0.3em;
    font-style: italic;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.break {
  height: 5em;
}