html {
    background: white;
    height: 120vh;
}

body {
    margin-top: 1em;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #3B413C;
}

h1 {
    font-style: italic;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    text-align: center;
    font-size: 2.5em;
}

input[type=submit] {
    width: 60vw;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
}

.logo {
    display: block;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    width: 60vw;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    display: block;
    border: 2px solid #3B413C;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 2px dashed black;
    outline-offset: -20px;
    text-align: center;
    background-color: #F9FDFF;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: white;
}

.button {
    background-color: #9DB5B1;
    transition-duration: 0.4s;
    opacity: 100;
}

.button:hover {
    background-color: #879B98;
}

.emphasis {
    font-weight: bold;
}

.invisible {
    opacity: 0;
    transition: opacity 0.2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 0.8s linear;
}

.fast-hidden {
    visibility: hidden;
    opacity: 0;
}

.error {
    color: #ED8E89;
}

.loader {
  color: #3B413C;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-top: 1em;
  margin-left: -0.5em;
  position: absolute;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#upload-icon {
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    filter:drop-shadow(4px 4px 4px #3B413C);
}

#filename-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}